* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  text-align: center;
  background: darkgray;
}

#canvas {
  margin-top: 5rem;
  /* width: 40rem; */
  /* height: 40rem; */
  background-color: lightgray;
  /* border: 5px solid black; */
}
